.arrow-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100; /* Ensure it is above other content */
    pointer-events: none;
  }
  
  .arrow {
    fill: black;
  }
  .arrow-container.scrolled {
    position: absolute;

  }