.bio-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    
}
.bio-link-container {
    display: flex;
    justify-content: center;
    align-items: center;

}
.yt-container {
  text-align: center;
  flex: 1;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.yt-logo {
  height: 10vh;
  fill: black;
  transition: fill .3s ease;
}
.line-divider {
  padding: 0;
  width: 3px;
  height: 20%;
  margin-top: 30px;

  background-color: black;
  position: absolute;
  z-index: -1;
}
.bio {
    text-align: center;
    flex: 1;
    width: 30vw;
    font-size: calc(8px + 0.390625vw); 
}

.bio-svg {
  fill: black;
  position: absolute;
  width: 90%;
  translate: 5%;
  /* height: 100%; */
  left: 0;
  pointer-events: none;
  margin-bottom: 100px;
}
@media (max-width: 1100px) {

  .me {
    font-size: 15px !important;
  }
}

@media (max-width: 910px) {
  .bio-container {
    flex-direction: column;
  }
  .line-divider {
    width: 50%;
    height: 1px;
    margin-bottom: 60px;
  }
  .bio {
    width: 80vw;
    margin-top: 100px;
  }
}
.me {
  font-size: calc(20px + 0.390625vw);
  text-align: center;
  cursor: default;
}

