.contact-form-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    flex-direction: column;
    min-height: 60vh;       
    margin-bottom: 150px;
    width: 100%;


  }
.contact-form {
    /* max-width: 1000px; */
    width: 20%;
    height: 80%;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    gap: 16px; 
    
  }
  
  .form-row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 16px; 
  }
  button {
    border: 2px solid black;
    border-radius: 10px;
    width: 90px;
    height: 40px;
    font-size: 20px;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    cursor: pointer;
    transition: all .3s ease;
  }
  
  
  input,
  textarea {
    font-family: Menlo, Monaco, 'Courier New', monospace;
    width: 30vh;
 
    padding: 5px;
    font-size: 14px;
    outline: none;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 10px;;

  }
  textarea {
    height: 20vh;
    min-width: 400px;
    max-width: 50vw;
  }
  input {
    height: 22px;
  }

  textarea {

    width: 100%;
  }
  .submit-button {
    font-size: 20px;
  }
  .submitted-button {
    cursor: default;
  }
  .submit-button:hover {
    transform: scale(1.05);
  }
  /* Responsive adjustments */
@media (max-width: 768px) {
    .form-row {

      gap: 8px;               /* Smaller gap for smaller screens */
    }
    input {
        /* width: 38vh; */
        min-width: 130px;
        max-width: 50vw;


    }
    textarea {
        min-width: 80vw;
    }
    .contact-form {
      padding: 16px;          /* Add padding to avoid content hitting screen edges */
    }
    .contact-form-container {
        margin-bottom: 50px;
    }
  }