.header {
    height: 200px;
    width: 100%;
    position: relative;
    pointer-events: none;
}
.header-text {
    margin-top: 50px;
    color: black;
    position: absolute;
    cursor: default;
    pointer-events: none;
}
.header-text-bold {
    font-weight: bold;
    font-size: 25px;
}
