.name-title {
    font-size: 2px;
    font-weight: bold;
    text-align: center;
    font-size: 10vw;
    cursor: default;
}
@media (max-width: 767px) {
   .name-title {

    margin-top: 100px;
   }
}
