.work-title {
    scroll-margin-top: 250px;
    font-size: 50px;
}
.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
.grid {
    z-index: 0;
    display: grid;
    grid-template-rows: minmax(2fr, auto) minmax(1fr, auto) minmax(1fr, auto) minmax(1fr, auto);
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    gap: 5px;
    min-height: 70vh;
    max-width: 80vw;
    width: 100%;
    aspect-ratio: 7 / 5; /* Adjust this ratio based on your layout */
    grid-template-areas: 
        'one one one two two two' 
        'three three four four four five'
        'three three six six six six ' 
        'seven seven seven seven seven seven';
    border-radius: 25px;
    padding: 2px;
}

.grid-item {
    z-index: -5;
    border-radius: 25px;
    box-sizing: border-box;
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    /* filter: brightness(100%); */
    transition: all .3s ease;
    background-size: 100% auto;
    background-position: center;
}
.grid-item::before {
    content: ''; /* Necessary for the pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit; /* Inherits the background from .grid-item */
    border-radius: inherit; /* Keeps the border radius */
    z-index: -1;  /* Places it behind the text */
    transition: filter .3s ease;
  }
.grid-item:hover::before {
    -webkit-filter: brightness (50%);
    filter: brightness(50%);
}
.grid-hidden {
    display: none;
}
.grid-item:hover {
    
    cursor: pointer;
}
.grid-item p {
    width: 100%;
    font-size: clamp(12px, 2em, 4em);
    /* font-size: 4em; */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 300;
}
.grid-item:hover p {
    opacity: 1;
}
.\31 {
    grid-area: one;
}
.\32 {
    grid-area: two;

}
.\33 {
    grid-area: three;

}
.\34 {
    grid-area: four;
}
.\35 {
    grid-area: five;
}
.\36 {
    grid-area: six;
}
.\37 {
    grid-area: seven;
}

/* Expanded view stuff! */
.expanded-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    /* overflow: hidden; */
    /* height: 600px; */
    height: 450px;
    /* min-width: 50vw; */
    /* max-width: 500px; */
    padding: 40px;
    width: 800px;
    /* width: 60%; */

    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    border: solid 3px black;
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    animation: slowRotation 5s ease-in-out infinite;
}
.expanded-top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.expanded-title {
    position: absolute;
    top: 0;
    text-align: center;
}
.thumbtack {
    position: absolute;
     top: -20px;
    right: 0; 
    width: 80px;
}
.close {
    position: absolute;
    top: 35px;
    left: 60px; 
    width: 90px;
    cursor: pointer;
}
.expanded-vid-desc-container {
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    flex-direction: row;
    width: 100%;
}
.expanded-description-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: top;
    width: 50%;
    height: 100%;
    border: 2px solid black;
    border-radius: 15px;
}
.expanded-description {
    text-align: center;
    font-size:  clamp(16px, .6vw, 40px);
    width: 100%;
    height: auto;
}
.expanded-video {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 25px;
}
.expanded-caption {

    font-size: 20px;
    text-align: center;

}

@keyframes slowRotation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-.5deg);
    }
    100% {
      transform: rotate(0deg); 
    }
  }
  @media (max-width: 768px) {
    .grid {
        grid-template-rows: 2fr 2fr repeat(7, 1fr);
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            'one one' 
            'one one'
            'two two'
            'two two'
            'three four'
            'three four' 
            'six five'
            'six five'
            'seven seven'
    }
    .work-title {
        scroll-margin-top: 100px;
    }
    .grid-item p {
        font-size: 20px;
    }
    
  }
  @media (max-width: 900px) {
    .work-title {
        font-size: 40px;
    }
    .expanded-content-container {
        width: 70vw;
        /* height: 800px; */
        height: auto;
    }
    .expanded-vid-desc-container {
        flex-direction: column;

        align-items: space-evenly;
        justify-content: flex-start;
        height: 100%;
    }
    .expanded-title {
        
        top: 80px;
        font-size: 20px;
        width: 100%;
    }
    .expanded-vid-container {
        margin-bottom: 70px;
    }
    .expanded-top-section {
        margin-bottom: 150px;
    }
    .expanded-description-container {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: top;
        width: 100%;
        height: 100%;
        border: 2px solid black;
        border-radius: 15px;
    }
  }