body {
  margin: 0 auto;
  font-family: Menlo, Monaco, 'Courier New', monospace;
  overflow-x: hidden;
  background-image: url(assets/textures/egg-shell.png);
  background-repeat: repeat;
  background-attachment: fixed;
}
html {
  overflow-x: hidden;
}
.credit {
  /* position: absolute; */
  
  text-align: right;
  margin-right: 20px;

}
input, textarea, button {
  -webkit-tap-highlight-color: transparent;
}
